.card2_text {
  color: var(--unnamed-color-222222);
  text-align: left;
  font: IvyMode;
  letter-spacing: 1.19px;
  color: #222222;
  opacity: 1;
  margin: 10px 50px;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.title {
  display: flex;
  flex-direction: column;

  margin: 10px 50px;
}
.title h1 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 36px/44px IvyMode;
  color: var(--unnamed-color-222222);
  text-align: left;
  font: normal normal normal 36px/44px IvyMode;
  letter-spacing: 1.19px;
  color: #222222;
  opacity: 1;
}

.title p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 24px/44px IvyMode;
  color: var(--unnamed-color-222222);
  text-align: left;
  font: normal normal normal 24px/44px IvyMode;
  letter-spacing: 0.79px;
  color: #222222;
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
}

.contentLeft {
  display: flex;
  flex-direction: column;
}
.contentLeft p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 44px
    BrownLight;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-222222);
  text-align: left;
  font: normal normal normal 18px/44px BrownLight;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}

.LeftButtons {
  display: flex;
  font-family: BrownLight;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  margin: 10px 0;
}

.contentRight {
  display: flex;
  flex-direction: column;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 44px
    BrownLight;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-222222);
  text-align: left;
  font: normal normal normal 18px/44px BrownLight;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}

.RightButtons {
  display: flex;
  font-family: BrownLight;
  flex-direction: row;
  justify-content: start;
  gap: 12px;
  margin: 10px 0;
}
.button_Content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin: 0px 50px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 44px
    BrownLight;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-222222);
  text-align: left;
  font: normal normal normal 18px/44px BrownLight;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  margin-bottom: 20px;
}
