.container {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(116deg, #fee8a6 0%, #f1d9ff 86%);
    height: 60vh;
    margin-left: -3vw;
  }

  .right{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 64px;
    margin-left: 96px;
  }

  .title{
    font-family:"IvyMode";
    font-size: 32px;
    margin-bottom: 16px;
  }

  .subTitle{
    font-family: "IvyMode";
    font-size: 30px;
  }

  .description{
    font-family: "BrownRegular";
    font-size: 20px;
  }

  .text{
    font-family: "IvyMode";
    font-size: 30px;
    margin: 35px 0;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }