.card2_text{
    color: var(--unnamed-color-222222);
    text-align: left;
    font:  IvyMode;
    letter-spacing: 1.19px;
    color: #222222;
    opacity: 1;
    margin: 10px 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    }