body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-brown);
  padding: 0 7vw;
}

.button {
  background-color: var(--satin-gold);
  color: var(--white);
}

.button-success {
  background-color: var(--bright-green);
}

.button-error {
  background-color: var(--error-red);
}

/* Hide scrollbar for all elements while keeping scrolling */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}