@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --gray: #707070;
  --rich-blue: #051828;
  --satin-gold: #B79535;
  --bright-green: #55BF3B;
  --background-color: #F9F7F2;
  --light-gray: #DDDDDD;
  --text-color: #222222;
  --white: #FFFFFF;
  --error-red: #FF385C;
  --success-green: #006B44;

  /* Font/text values */
  --font-family-brown: Brown;
  --font-style-normal: normal;
  --font-weight-normal: normal;
  --font-size-18: 18px;
  --character-spacing-0: 0px;
  --line-spacing-28: 28px;
--unnamed-color-707070: #707070;
--unnamed-color-051828: #051828;
--unnamed-color-b79535: #B79535;
--unnamed-color-55bf3b: #55BF3B;
--unnamed-color-f9f7f2: #F9F7F2;
--unnamed-color-dddddd: #DDDDDD;
--unnamed-color-222222: #222222;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-ff385c: #FF385C;

/* Font/text values */
--unnamed-font-family-brown: Brown;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-18: 18px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-28: 28px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-brown);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-18);
line-height: var(--unnamed-line-spacing-28);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-222222);
}


/* Character Styles */
.text-style {
  font-family: var(--font-family-brown);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-18);
  line-height: var(--line-spacing-28);
  letter-spacing: var(--character-spacing-0);
  color: var(--text-color);
}

.font-brown {
  font-family: var(--font-family-brown);
}

@font-face {
  font-family: "IvyMode";
  src: url("../assets/fonts/IvyMode-Regular.ttf")format("truetype");
}

@font-face {
  font-family: "BrownMedium";
  src: url("../assets/fonts/Brown-Medium.ttf")format("truetype");
}

@font-face {
  font-family: "BrownRegular";
  src: url("../assets/fonts/BrownLight-Regular.ttf")format("truetype");
}


